:root {
	--pink-color: #e26e70;
    --green-color: #6ee278;
}

.cart1 {
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    background-color: aliceblue;
    padding: 12px 20px;
    overflow-y: scroll;
    right: -100%;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    
}

th {

    color: black;
}
tr{
    color: black;

}

th,
td {
    border: 1px black solid;
    padding: 5px 10px;
    text-align: center;
    color: black;
}
input {
    background-color: #bde1ff;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}
button {
    background-color: #6cb1a6;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
input:hover{
    opacity: 0.9;
}
button:hover {
    opacity: 0.9;
}
.modal {
	position:fixed;
    z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}
.modalerr {
	position:fixed;
    z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.hide {
	display: none;
}

.modal__inner {
	width: 450px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	animation: showModal linear 0.2s;
	position: relative;
	margin: 200px auto;
}

@keyframes showModal {
	from {
		top: -200px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.modal__header {
	background-color: var(--green-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	font-size: 17px;
}

.modal__body	{
	padding: 15px;
}

.modal__body h2 {
	color: var(--green-color);
	margin-bottom: 10px;
}

.modal__footer {
	padding: 15px;
	text-align: right;
}

.modal__footer button {
	outline: none;
	border: none;
	padding: 10px 20px;
	background-color: var(--green-color);
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.modal__header__err {
	background-color: var(--pink-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	font-size: 17px;
}
.modal__body_err {
	padding: 15px;
}

.modal__body_err h2 {
	color: var(--pink-color);
	margin-bottom: 10px;
}

.modal__footer__err {
	padding: 15px;
	text-align: right;
}

.modal__footer__err button {
	outline: none;
	border: none;
	padding: 10px 20px;
	background-color: var(--pink-color);
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

i {
	cursor: pointer;
	font-size: 18px;
}